# Secret API Keys
.env
.env.local
.env.*

# Node modules
node_modules/
frontend/node_modules/

# Python caching & environments
__pycache__/
*.pyc
venv/
env/
.venv/

# Build artifacts
frontend/.next/
frontend/out/

# IDE/OS specific
.DS_Store
.vscode/
